.outer {
  background-color: #eee;
  height: 100%;
}

.title {
  color: rgb(54, 167, 187);
  font-size: 14px;
  font-family: Arial, sans-serif;
  font-weight: bold;
  height: 30px;
  border-bottom: 1px solid #E4E4E4;
  padding: 6px 0 0 6px;
}

.body {
  background-color: #fff;
  padding: 10px;
}