.main {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 4px;
  position: relative;
}

.spreadContainer {
  position: absolute;
  top: 67px;
  color: #fff;
  border: 1px solid #000;
  padding: 2px 5px;
  border-radius: 2px;
}

.containerUp {
  background-color: #86a42a;
}

.containerDown {
  background-color: #dd3c2d;
}